.job-card {
  padding: 10px;
}
.logo {
  height: 100px;
  width: 100px;
}
.title-rating-container {
  margin-left: 20px;
}
.employment-type {
  margin-left: 5px;
}
.location-container {
  margin-right: 10px;
}
.employment-type-container {
  margin-left: 10px;
}
.logo-heading-container {
  display: flex;
  align-items: center;
}
.location-type-salary-container {
  display: flex;
  justify-content: space-between;
}
.location-type-container {
  display: flex;
}
.job-card {
  margin: 10px;
  background-color: #fff;
}
